In [2]:
##measure of central tendency
##mean (average)
age = [12,13,14,21,24]

In [3]:
(12+13+14+21+24)/5

16.8

In [4]:
import numpy as np
np.mean(age)

16.8

In [5]:
weights = [45,34,55,76,45,35,89,98,75]

In [6]:
np.mean(weights)

61.333333333333336

In [7]:
weights = [45,34,55,76,45,35,89,98,75,1000]
np.mean(weights)

155.2

In [8]:
#median
np.median(weights)

65.0

In [9]:
#mode
from scipy import stats
stats.mode(weights)

<ipython-input-9-75360ed63d8e>:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weights)

ModeResult(mode=array([45]), count=array([2]))

In [14]:
#measure of dispersion
## variance

ages_list = [23,43,23,56,74,32,68,98,45,32]
import numpy as np
mean= np.mean(ages_list)

In [15]:
mean

49.4

In [16]:
var = np.var(ages_list)
var

541.64

In [17]:
std = np.std(ages_list)
std

23.273160507331188

In [18]:
import pandas as pd
data = [[10,12,13],[34,23,45],[32,34,21]]

In [19]:
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [20]:
df = pd.DataFrame(data)

In [21]:
df

    0   1   2
0  10  12  13
1  34  23  45
2  32  34  21

In [22]:
df.var()

0    177.333333
1    121.000000
2    277.333333
dtype: float64

In [23]:
df = pd.DataFrame(data,columns = ["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [24]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [26]:
##row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64